# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

.demo
.git
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
build
dist
htmlcov
node_modules
third_party/scitt-ccf-ledger
