# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

.coverage
.ledger/
.mypy_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.py[cod]
/build*/
dist/
node_modules/
/third_party/
